@model ContenManagementSystem.Models.CompanyEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictureID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyEmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
