@model IEnumerable<ContenManagementSystem.Models.CompanyEmployee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyEmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyEmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyEmployeeID })
        </td>
    </tr>
}

</table>
