@model ContenManagementSystem.Models.CompanyDescClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyDescClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenHours)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Employee</th>
                    <th>Title</th>
                    <th>Image</th>
                </tr>
                @foreach (var item in Model.Employees)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.empName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>
                    <img src="../@Html.DisplayFor(modelItem => item.pictureID)" width="50" /><br />
                </td>
            </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyDescClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
